$primary: #0f3255;
$dark-primary: #1e8cc3;
$dark-primary-alternate: #1e8cc3;
$secondary: #f5faff;
$tertiary: #1e8cc3;

// Fix the colors for the modal (like account QR code modal)
$btn-line-color: $primary;
